In [19]:
print("Importing dependencies")
import os
import csv
import pandas as pd
import numpy as np
from functools import reduce

Importing dependencies

In [20]:
print("Read csv of identified features")
features = pd.read_csv("Compiled_Features.csv")
features.head()

Read csv of identified features

  Category    Code                                        Description
0       CF  DPQ050  [Over the last 2 weeks, how often have you bee...
1       CF  DPQ060  [Over the last 2 weeks, how often have you bee...
2       CF  DPQ070  [Over the last 2 weeks, how often have you bee...
3       CF  DPQ080  [Over the last 2 weeks, how often have you bee...
4       CF  DPQ090  Over the last 2 weeks, how often have you been...

In [21]:
print("Turn features into list")
feature_list = features["Code"].tolist()

Turn features into list

In [22]:
print("Create list of csvs for column identification")
csv_list = ["original_csv_files/demographic.csv", 
           "original_csv_files/diet.csv",
          "original_csv_files/examination.csv",
          "original_csv_files/labs.csv",
          "original_csv_files/medications.csv",
          "original_csv_files/questionnaire.csv"]
csv_list

Create list of csvs for column identification

['original_csv_files/demographic.csv',
 'original_csv_files/diet.csv',
 'original_csv_files/examination.csv',
 'original_csv_files/labs.csv',
 'original_csv_files/medications.csv',
 'original_csv_files/questionnaire.csv']

In [23]:
print("Identify csvs containing identified features, with corrosponding feature names")
print("-------------------------------------------------------------------------------")
for csv in csv_list:
    usecols = []
    csv_df = pd.read_csv(csv, nrows=1)
    csv_col_list = csv_df.columns.tolist()
    for feature in feature_list:
        if feature in csv_col_list:
            usecols.append(feature)

    print(csv + " contains " + str(len(usecols)) + " features.")
    print(usecols)

Identify csvs containing identified features, with corrosponding feature names
-------------------------------------------------------------------------------
original_csv_files/demographic.csv contains 10 features.
['RIAGENDR', 'RIDAGEYR', 'RIDRETH1', 'DMDEDUC3', 'DMDMARTL', 'DMDHHSIZ', 'RIDEXPRG', 'INDHHIN2', 'INDFMPIR', 'SEQN']
original_csv_files/diet.csv contains 3 features.
['DRQSDT1', 'DRQSDIET', 'SEQN']
original_csv_files/examination.csv contains 3 features.
['BMXWT', 'BMXBMI', 'SEQN']
original_csv_files/labs.csv contains 1 features.
['SEQN']
original_csv_files/medications.csv contains 1 features.
['SEQN']
original_csv_files/questionnaire.csv contains 34 features.
['DPQ050', 'DPQ060', 'DPQ070', 'DPQ080', 'DPQ090', 'DPQ020', 'DPQ010', 'SMD460', 'DUQ211', 'DUQ240', 'SMQ040', 'PAD645', 'PAQ655', 'PAD660', 'PAQ665', 'OCQ180', 'HIQ011', 'OCD270', 'CBD120', 'CBD130', 'HIQ031A', 'HIQ031B', 'HIQ031D', 'HIQ031F', 'HIQ031G', 'HIQ031H', 'HIQ031I', 'FSQ012', 'FSQ162', 'SEQN', 'DPQ030', 'DPQ040', 'SLD010H', 'SLQ050']

In [24]:
print("Read in demographic csv with relevant features")
usecols = []
demographic = pd.read_csv("original_csv_files/demographic.csv", nrows=1)
demographic_list = demographic.columns.tolist()
for feature in feature_list:
    if feature in demographic_list:
        usecols.append(feature)
    demographic = pd.read_csv("original_csv_files/demographic.csv", usecols=usecols)
demographic.head()

Read in demographic csv with relevant features

,SEQN,RIAGENDR,RIDAGEYR,RIDRETH1,DMDEDUC3,DMDMARTL,RIDEXPRG,DMDHHSIZ,INDHHIN2,INDFMPIR
0,73557,1,69,4,NaN,4.0,NaN,3,4.0,0.84
1,73558,1,54,3,NaN,1.0,NaN,4,7.0,1.78
2,73559,1,72,3,NaN,1.0,NaN,2,10.0,4.51
3,73560,1,9,3,3.0,NaN,NaN,4,9.0,2.52
4,73561,2,73,3,NaN,1.0,NaN,2,15.0,5.00

In [ ]:
print("Read in diet csv with relevant features")
usecols = []
diet = pd.read_csv("original_csv_files/diet.csv", nrows=1)
diet_list = diet.columns.tolist()
for feature in feature_list:
    if feature in diet_list:
        usecols.append(feature)
    diet = pd.read_csv("original_csv_files/diet.csv", usecols=usecols)
diet.head()

Read in diet csv with relevant features

In [8]:
print("Read in examination csv with relevant features")
usecols = []
examination = pd.read_csv("examination.csv", nrows=1)
examination_list = examination.columns.tolist()
for feature in feature_list:
    if feature in examination_list:
        usecols.append(feature)
    examination = pd.read_csv("examination.csv", usecols=usecols)
examination.head()

Read in examination csv with relevant features

    SEQN  BMXWT  BMXBMI
0  73557   78.3    26.7
1  73558   89.5    28.6
2  73559   88.9    28.9
3  73560   32.2    17.1
4  73561   52.0    19.7

In [9]:
print("Read in questionnaire csv with relevant features")
usecols = []
questionnaire = pd.read_csv("questionnaire.csv", nrows=1)
questionnaire_list = questionnaire.columns.tolist()
for feature in feature_list:
    if feature in questionnaire_list:
        usecols.append(feature)
    questionnaire = pd.read_csv("questionnaire.csv", usecols=usecols)
questionnaire.head()

Read in questionnaire csv with relevant features

,SEQN,CBD120,CBD130,DPQ010,DPQ020,DPQ030,DPQ040,DPQ050,DPQ060,DPQ070,...,OCQ180,OCD270,PAD645,PAQ655,PAD660,PAQ665,SLD010H,SLQ050,SMQ040,SMD460
0,73557,0.0,85.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2.0,7.0,1.0,3.0,1.0
1,73558,40.0,20.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,50.0,420.0,NaN,NaN,NaN,2.0,9.0,2.0,2.0,2.0
2,73559,40.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,1.0,8.0,2.0,3.0,0.0
3,73560,50.0,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,73561,0.0,0.0,2.0,1.0,0.0,3.0,3.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2.0,9.0,2.0,NaN,0.0

In [18]:
print("Delete SLQ050 nan rows")
questionnaire = questionnaire.dropna(subset=["SLQ050"])
questionnaire.head()
print("There are " + str(len(questionnaire.SEQN)) + " rows remaining")

Delete SLQ050 nan rows
There are 6464 rows remaining

In [12]:
print("Merge dataframes")
df = questionnaire.merge(demographic, how="left", on="SEQN")
df = df.merge(diet, how="left", on="SEQN")
df = df.merge(examination, how="left", on="SEQN")

df.head()

,SEQN,CBD120,CBD130,DPQ010,DPQ020,DPQ030,DPQ040,DPQ050,DPQ060,DPQ070,...,DMDEDUC3,DMDMARTL,RIDEXPRG,DMDHHSIZ,INDHHIN2,INDFMPIR,DRQSDIET,DRQSDT1,BMXWT,BMXBMI
0,73557,0.0,85.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,4.0,NaN,3,4.0,0.84,2.0,NaN,78.3,26.7
1,73558,40.0,20.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,1.0,NaN,4,7.0,1.78,2.0,NaN,89.5,28.6
2,73559,40.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,1.0,NaN,2,10.0,4.51,1.0,NaN,88.9,28.9
3,73561,0.0,0.0,2.0,1.0,0.0,3.0,3.0,0.0,0.0,...,NaN,1.0,NaN,2,15.0,5.00,1.0,NaN,52.0,19.7
4,73562,60.0,0.0,3.0,3.0,3.0,3.0,3.0,1.0,2.0,...,NaN,3.0,NaN,1,9.0,4.79,2.0,NaN,105.0,41.7

In [14]:
print("Move target feature to end of dataframe")
cols_at_end = ["SLQ050"]
df = df[[c for c in df if c not in cols_at_end] + [c for c in cols_at_end if c in df]]
df.head()

,SEQN,CBD120,CBD130,DPQ010,DPQ020,DPQ030,DPQ040,DPQ050,DPQ060,DPQ070,...,DMDMARTL,RIDEXPRG,DMDHHSIZ,INDHHIN2,INDFMPIR,DRQSDIET,DRQSDT1,BMXWT,BMXBMI,SLQ050
0,73557,0.0,85.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,NaN,3,4.0,0.84,2.0,NaN,78.3,26.7,1.0
1,73558,40.0,20.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,NaN,4,7.0,1.78,2.0,NaN,89.5,28.6,2.0
2,73559,40.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,NaN,2,10.0,4.51,1.0,NaN,88.9,28.9,2.0
3,73561,0.0,0.0,2.0,1.0,0.0,3.0,3.0,0.0,0.0,...,1.0,NaN,2,15.0,5.00,1.0,NaN,52.0,19.7,2.0
4,73562,60.0,0.0,3.0,3.0,3.0,3.0,3.0,1.0,2.0,...,3.0,NaN,1,9.0,4.79,2.0,NaN,105.0,41.7,2.0